* {
  box-sizing: border-box; /* Inclui padding e border na largura e altura totais dos elementos */
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #403C3B;
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

